@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

html {
  scrollbar-width: none; /* Hide scrollbars in Firefox */
  -ms-overflow-style: none; /* Hide scrollbars in IE/Edge */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-width: none; /* Hide scrollbars in Firefox */
  -ms-overflow-style: none; /* Hide scrollbars in IE/Edge */
}

/* Hide scrollbars (WebKit) */
*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

